<html lang="en">
  <%- include("./partials/nav.ejs") %>
  <body>
    <body>
      <div class="not-found content">
        <h1>404 - OOPS!</h1>
        <h2>That page does not exist</h2>
      </div>
    </body>
  </body>
</html>
